div.login{background-color: #2A80B8; height: 250px; width: 410px; opacity: 0.85; margin: auto; margin-top: 7%;}

div.header{ height: 380px; width: 370px; margin-left: 20px; padding-top: 5px;}

div.judul{}

p.judul{font-family: Baskerville Old Face; text-align: center; color: white;}

hr{position: center; width: 360px; color: white;}

div.isi{height: 30%; width: 370px;}

p.isi{font-family: Baskerville Old Face; color: white; margin-left: 15px;}

div.copyright{}

p.copyright{font-family: Baskerville Old Face; text-align: center;color: white; padding-top: 5px;}

input.idCard{width: 340px; height: 35px; margin-left: 4%;}